# ==============================
# Security & Secret Keys (PENTING!)
# ==============================
*.env
.env
.env.*
*.env.local
key.env

# ==============================
# Python / Backend
# ==============================
venv/
env/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3

# ==============================
# Node / Frontend
# ==============================
node_modules/
frontend/node_modules/
.pnp
.pnp.js
dist/
frontend/dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==============================
# Editor & OS
# ==============================
.vscode/
.idea/
.DS_Store
Thumbs.db